<footer class="flex">
  <div class="footer-bar-content">
    <div class="room8-love">Made with ❤ in Toronto</div>
    <div class="room8-container"><span class="room">room</span><span class="eight">8</span></div>
    <div class="social-media">
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</footer>
