<header>
  <div class="flex container" id="nav-bar">
    <div class="row">
      <div class="col-sm">
        <h1 class="logo-text">room<span>8</span></h1>
      </div>
      <div class="col-sm">
        <nav>
          <a href="/polls/new"><button class="button-text">New Poll</button></a>
          <!-- <button><a href="">View</a></button> -->
        </nav>
      </div>
    </div>
  </div>
</header>



