<div class="flex container">
  <div class="row">
    <div class="col-sm">
      <h1>room8</h1>
    </div>
    <div class="col-sm">
      <nav>
        <button><a href="">New +</a></button>
        <button><a href="">View</a></button>
      </nav>
    </div>
  </div>
</div>
