<!DOCTYPE html>

<html lang="en">
  <head>
    <title>room8 – Make decisions, easily & anonymously</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/icon-8.png" type="image/png">
    <link rel="shortcut icon" href="/images/icon-8.png" type="image/png">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/404.css" type="text/css" />
    <!-- Logo Font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include ../partials/_header %>

    <main class="flex index">
      <div class="flex">
        <h1 class="header-description">Uh-Oh!</h1>
      </div>
      <div class="flex">
        <h1><img id="hero" src="/images/patrick.png" alt="patrick image" width="350"></h1>
      </div>
      <div class="flex">
        <h4 class="header-description">It looks like this url doesn't exist!</h4>
      </div>
      <div class="flex">
        <h4 class="header-description"><a href="/">Click here</a> to go back to the homepage</h4>
      </div>

    </main>

    <% include ../partials/_footer %>
  </body>
</html>
