<!DOCTYPE html>

<html lang="en">
  <head>
    <title>room8 – Make decisions, easily & anonymously</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include ../partials/_header %>

    <main class="flex">
      <div class="flex">
        <h1>room8</h1>
      </div>
      <div class="flex">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident esse, consequatur! Reiciendis iure, minus illum rerum quo qui magnam, nihil nisi, rem earum nobis maiores voluptas beatae laboriosam accusamus. Similique.</p>
      </div>
      <div class="flex">
        <button><a href="/polls/new">Create New Poll</a></button>
      </div>
      <div class="flex">
        <h2>How it works</h2>
      </div>

      <div class="flex features">
        <div class="feature flex">
          <img src="https://www.placecage.com/300/200">
          <p>Shiny feature description is shiny!</p>
        </div>
        <div class="feature flex">
          <img src="https://www.placecage.com/300/200">
          <p>Shiny feature description is shiny!</p>
        </div>
        <div class="feature flex">
          <img src="https://www.placecage.com/300/200">
          <p>Shiny feature description is shiny!</p>
        </div>
      </div>

      <div class="flex emails">
        <div class="flex heading1"><h3>Instant e-mail notification</h3></div>
        <div class="flex heading1"><p>Get poll updates and results directly in your inbox! Making decisions has never been easier!</p></div>
      </div>

      <div class="flex anonymous">
        <div class="flex heading2"><h3>Make impartial decisions, anonymously!</h3></div>
        <div class="flex heading2"><p>Make hard decisions with no bias with anonymous polling. You don't need to know who voted on what!</p></div>
      </div>

      <div class="testimonial flex">
        <div class="quote flex">
          <h3>'I use room8 to make all my decisions!'</h3>
        </div>
        <div class="quote flex">
          <p><img class="testimonial" src="https://www.placecage.com/g/100/100" alt=""> - Some guy</p>
        </div>
      </div>
    </main>

    <% include ../partials/_footer %>
  </body>
</html>
