<!DOCTYPE html>
<html lang="en">
  <head>
    <title>room8 – Results</title>

    <title>Poll Results</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <!-- Logo Font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- Charts.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="/scripts/chartSetting.js"></script>
  </head>

  <body>
    <% include ../partials/_header %>

    <h2>Poll Information</h2>

    <div id="response-promts">
      <li>
        <ul>Responses: 3</ul>
        <ul>Awaiting: 1</ul>
      </li>
    </div>

    <article id="poll-results">


      <h2><%= question %></h2>

      <div id="ranking">
        <li>
          <% options.forEach( (element) => { %>
          <ol><%= element %></ol>
          <% }) %>
        </li>
      </div>

      <div id="poll-visualization">
          <canvas id="resultsChart"></canvas>
      </div>
    </article>

    <article id="poll-submissions-links">
      <title>Links</title>
      <p>Links are listed below, awaiting responses are denoted as red.</p>

      <table>
          <tr>
            <th>Status</th>
            <th>Link</th>
            <th></th>
            <th></th>
          </tr>
          <% for (let i = 0; i < links.length; i++) { %>
          <tr>
            <% if (answersProvided) { %>
            <td>INACTIVE</td>
            <% } else { %>
              <td>ACTIVE</td>
            <% } %>
            <td id="subLink"><%= links[i] %></td>
            <% if (!answersProvided) { %>
            <td><button onclick="copyURL('#subLink')">Copy URL</button></td>
            <% } %>
          </tr>
          <% } %>
        </table>

        <p>Generate new URL for additional voter</p>
        <button>Add NEW URL</button>
        <br>

        <button>** END POLL **</button>

    </article>

    <% include ../partials/_footer %>

    <script>
      function copyURL(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
      }
    </script>
  </body>
</html>
