<!DOCTYPE html>

<html lang="en">
  <head>
    <title>room8 – Make decisions, easily & anonymously</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include ../partials/_header %>

    <main class="main-container">
      <h2>Thank you for voting!</h2>
      <h6>If you would like to see the results at the end of the poll, please enter your email below</h6>
      <div class="email-input">
          <form method="PUT" action="/polls/:id">
            <input id="email" type="email" name="email" placeholder="room8@makingdecisions.ca">
            <button type="submit">Email Me</button>
          </form>
      </div>
      <h2>Use room8 to Make Decisions Today</h2>
      <a href="/polls/new"><button type="submit"> New Poll</button></a>
    </main>
    
    <% include ../partials/_footer %>
  </body>
</html>
