body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

.flex {
  display: flex;
}

div {
  margin: 1em 0 0 0;
}

.container {
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}

div.flex {
  justify-content: space-evenly;
}

nav {
  float: right;
}

div.feature.flex {
  flex-direction: column;
}

div.flex.emails {
  flex-direction: column;
}

div.flex.anonymous {
  flex-direction: column;
}

div.testimonial.flex {
  flex-direction: column;
}

div.quote.flex {
  justify-content: space-evenly;
}

img.testimonial {
  border-radius: 50%;
}

div.flex.heading1 {
  justify-content: flex-start;
}

div.flex.heading2 {
  justify-content: flex-end;
}

footer.flex {
  justify-content: space-evenly;
}

/* styles for submitted-view */
.main-container div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-container h6 {
  margin: 20px 0;
}

.main-container form {
  display: flex;
  flex-direction: column;
}

.main-container .new-poll-link {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

/* styles for polls view */
.poll-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.poll-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.poll-container div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.poll-container #poll-title {
  margin-bottom: 0px;
  margin-top: 0px;
}

.poll-container #poll-description {
  margin-bottom: 0px;
  margin-top: 0px;
}

.poll-container h6 {
  margin: 0;
}

.poll-container h5 {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.options {
  width: 60%;
}

div.flex.emails {
  flex-direction: column;
}

div.flex.anonymous {
  flex-direction: column;
}

div.testimonial.flex {
  flex-direction: column;
}

div.quote.flex {
  justify-content: space-evenly;
}

img.testimonial {
  border-radius: 50%;
}

div.flex.heading1 {
  justify-content: flex-start;
}

div.flex.heading2 {
  justify-content: flex-end;
}

footer.flex {
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

/*form*/
/*form styles*/
#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #5BBD9E;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #C3E7DB;
}

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  padding: 0px;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #5BBD9E;
  color: white;
}

input[name="option"] {
  width: 14em !important;
}

.close {
  width: 32px;
  height: 20px;
  opacity: 0.3;
  float: right;
  position: relative;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 9px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
  top: 13px;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

ul.options {
  padding: 0em;
}

p.category {
  font-weight: bold;
}

ul {
  font-size: 13px;
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}

li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}

input[name="voter-number"] {
  display: block;
  margin: .5em auto !important;
  width: 5em !important;
}

.flex.plus {
  justify-content: space-evenly;
}

body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

.flex {
  display: flex;
}

div {
  margin: 1em 0 0 0;
}

.container {
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}

div.flex {
  justify-content: space-evenly;
}

nav {
  float: right;
}

div.feature.flex {
  flex-direction: column;
}

div.flex.emails {
  flex-direction: column;
}

div.flex.anonymous {
  flex-direction: column;
}

div.testimonial.flex {
  flex-direction: column;
}

div.quote.flex {
  justify-content: space-evenly;
}

img.testimonial {
  border-radius: 50%;
}

div.flex.heading1 {
  justify-content: flex-start;
}

div.flex.heading2 {
  justify-content: flex-end;
}

footer.flex {
  justify-content: space-evenly;
}

/* styles for submitted-view */
.main-container div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-container h6 {
  margin: 20px 0;
}

.main-container form {
  display: flex;
  flex-direction: column;
}

.main-container .new-poll-link {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

/* styles for polls view */
.poll-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.poll-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.poll-container div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.poll-container #poll-title {
  margin-bottom: 0px;
  margin-top: 0px;
}

.poll-container #poll-description {
  margin-bottom: 0px;
  margin-top: 0px;
}

.poll-container h6 {
  margin: 0;
}

.poll-container h5 {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.options {
  width: 60%;
}

div.flex.emails {
  flex-direction: column;
}

div.flex.anonymous {
  flex-direction: column;
}

div.testimonial.flex {
  flex-direction: column;
}

div.quote.flex {
  justify-content: space-evenly;
}

img.testimonial {
  border-radius: 50%;
}

div.flex.heading1 {
  justify-content: flex-start;
}

div.flex.heading2 {
  justify-content: flex-end;
}

footer.flex {
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

/*form*/
/*form styles*/
#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #5BBD9E;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #C3E7DB;
}

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  padding: 0px;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #5BBD9E;
  color: white;
}

input[name="options"] {
  width: 14em !important;
}

.close {
  width: 32px;
  height: 20px;
  opacity: 0.3;
  float: right;
  position: relative;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 9px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
  top: 13px;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

ul.options {
  padding: 0em;
}

p.category {
  font-weight: bold;
}

ul {
  font-size: 13px;
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}

li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}

input[name="voter-number"] {
  display: block;
  margin: .5em auto !important;
  width: 5em !important;
}

.flex.plus {
  justify-content: space-evenly;
}

pre {
  display: none !important;
}

input.num {
  width: 4em !important;
}

li {
  padding: 0;
}


p.plusButton {
  color: #ab9e9e;
  font-weight: 400;
  font-size: 1.5em;
}

a.plusButton:hover {
  text-decoration: none;
}

section.options {
  width: 100% !important;
}
