img#hero {
  margin: 1em;
}

h4#header-description {
  margin-bottom: 1.5em;
}

button.call-to-action {
  padding: 2rem 2.5rem;
  font-size: 1.7em;
  color: #fff;
  margin: 1em;
}

button.call-to-action:hover {
  text-decoration: none;
  color: #616C76;
}

a#header-link {
  color: #fff;
}

a#header-link:hover {
  text-decoration: none;
  color: #616C76;
}

h2#features {
  margin: 1em;
  font-size: 3em;
}

p.feature {
  margin-left: 3em;
}

p.feature.two {
  margin-top: 6.5em;
}

p.feature.three {
  margin-top: 5.5em;
}

img#second-feature, img#third-feature {
  position: relative;
  top: 3em;
}

div.flex.anonimage {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

div.flex.emails {
  margin-top: 10em;
}

div.flex.anonimage {
  margin-bottom: 7em;
}

/*testimonial*/

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------------------- */
/*       TESTIMONIAL      */
/* ---------------------- */
.parallax-section{
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#testimonial{
  padding: 130px 0 95px;
  background-image: url(../images/bg-testimonial.jpg);
}
#testimonial .overlay{
  background: #fff;
}
.ts-testimonial-slide{
  text-align: center;
  color: #616C76;
  width: 85%;
  margin: 0 auto;
}
.ts-testimonial-slide p{
  font-size: 24px;
  line-height: 36px;
  font-style: italic;
  font-family: 'Droid Serif';
  margin-bottom: 35px;
}
.ts-testimonial-slide .ts-testimonial-item {
  margin-bottom: 15px;
}
.ts-testimonial-slide .ts-testimonial-item .icon-client{
  background: #ffffff;
  width: 29px;
  height: 29px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  text-align: center;
  line-height: 29px;
  margin-top: 2px;
}
.ts-testimonial-slide .ts-testimonial-item .infor-client {
  display: inline-block;
  margin: 0 auto;
  width: auto;
}
.ts-testimonial-slide .ts-testimonial-item  .client-name{
  padding-left: 38px;
  font-size: 12.8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  display: block;
  line-height: normal;
  white-space: nowrap;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position{
  font-size: 12px;
  font-style: italic;
  line-height: normal;
  padding-left: 38px;
  display: block;
  text-align: left;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position a{
  color: white;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position a:hover{
  color: #5ed9e7;
}
