main.thanks {
  margin-top: 8em;
}

button.emailMe {
  margin: 1.5em;
}

input#email {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 16px;
}
